@(createTripForm: Form[Trip])

@import helper._
@import helper.twitterBootstrap._

@main("Creer un parcours") {

	<h1>Creer un parcours</h1>
	
	<div id="login" class="row">
        <div class="col-md-6">
	
	 		@form(routes.TripController.doCreateTrip()) {
        		<div class="form-group">
        			@inputText(createTripForm("title"), 'class -> "form-control")
       			</div>
        
        		<div class="form-group">
        			@textarea(createTripForm("description"), 'class -> "form-control", 'rows -> "3")  
        		</div>
        		<input class="btn btn-primary" type="submit" value="Creer le parcours">
    		}
    
     	</div>
	</div>	
}