@(requestPublishedTrips : List[Trip], createRegionForm : Form[Region])

@import helper._

@main("Admin") {

<h1>Admin</h1>
<h2>Request published trip</h2>

	<ul>
        @for(trip <- requestPublishedTrips) {
            <li>
                @trip.title
                
                <a href="@routes.TripController.doDeleteTrip(trip.id)" class="btn">Supprimer</a>
                
                <a href="@routes.TripController.doPublishTrip(trip.id)" class="btn">publier</a>
                
            </li>
        }
    </ul>
    
<h2>Published trip</h2>

	<ul>
        @for(trip <- Trip.allPublishedTrip) {
            <li>
                @trip.title
                
                <a href="@routes.TripController.doDeleteTrip(trip.id)" class="btn">Supprimer</a>
                
                <a href="@routes.TripController.doPublishTrip(trip.id)" class="btn">publier</a>
                
            </li>
        }
    </ul>    
    
    <h2>Regions</h2>

	<ul>
        @for(region <- Region.findAll) {
            <li>
                @region.id - @region.longName - @region.regionType
                
            </li>
        }
    </ul>
    @form(routes.TripController.doCreateRegion()) {
        
    	@inputText(createRegionForm("longName"), '_label -> "longName")
    	@inputText(createRegionForm("shortName"), '_label -> "shortName")
    	@inputText(createRegionForm("uri"), '_label -> "uri")
    	@inputText(createRegionForm("parentId"), '_label -> "parentId")
    	
    	<select name="regionType">
    		@for(regionType <- RegionType.values()){
        		<option value="@regionType.name">@regionType.name</option>
    		}
		</select>
            
        	<div class="actions">
            	<input type="submit" value="Create" class="btn primary">
        	</div>
        
    }

}